{% extends 'layout.twig' %}

{% block body %}
<h1>{{title}}</h1>

<p>Nombre de contact : 00  </p>

<!-- Les trois derniers contacts -->
 <p>3 derniers contact : </p>
{% for contact in contacts %}
   {{ contact.nom }}
   <p> -------------- </p>
{% endfor %}
</p>


<a href="/posts/">Voir tout les contacts</a>

{% endblock %}
